.name {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 24px 30px;
  border-radius: 50%;
  background: no-repeat url('../../assets/svg/profileIcon.svg');
}

.controls {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.controls:hover {
  cursor: pointer;
}

.mode {
}
